
.App {
  text-align: center;
}

.header{
  font-weight: bold;
  background-color: orange;
  font-size: large;
}

.record1-1{
  width: 520px;
  height:150px;
  border-radius: 5px;
  padding:25px;
  margin-bottom: 20px;
  margin-top:20px;
  padding-bottom: 80px;
}
.record1-bigcontainer{
  background-color:rgb(13,23,33);
  padding-bottom: 50px;
  padding-top:60px;

}
.record1_1-body{
  display: flex;
  margin-left:150px;
  margin-right:150px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.btn{
background-color: #282A35;
color: white;
font-size: 15px;
margin: auto;
margin-top:50px;
padding-top:12px;
padding-bottom:12px;
display: block;
width: 200px;
border-radius: 25px;
font-weight: bold;
font-family: 'Source Sans Pro', sans-serif;
}
.btn:hover{
  background-color: black;
}
.sub-title{
  color: #3a3a3a;
  font-size: 17px;
  font-weight:bold;
  margin: 10px ;
  text-align: center;
  padding-top:15px;
  font-family: 'Source Sans Pro', sans-serif;

}
.title{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
  margin:10px;
}
.record1_2-body,.record1_3-body, .record1_4-body{
  display: flex;
  margin-left:150px;
  margin-right:150px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.rec2-btn, .rec4-btn{
  width:580px;
  height:120px;
  border-radius: 8px;
  margin-top:80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 17px;
  border:none;
}

.rec3-btn{
  width:260px;
  height:120px;
  border-radius: 8px;
  margin-top:50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 17px;
  border:none;
}
.rec2-btn:hover,.rec3-btn:hover,.rec4-btn:hover{
  filter: brightness(111%);
}
.ce-title{
  text-align: center;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-top:180px;
  margin-bottom: 10px;
  font-size: 60px;
}
.ce-subtitle{
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:17px;
  font-weight: bold;
  margin-bottom: 50px;
}
.code-gif{
  display: block; 
  margin-left: auto;
   margin-right: auto;
  }
  .btn-container{
    margin-left:315px;
    padding-bottom: 20px;
  }
  .front-btn{
    width:300px;
    height:50px;
    background-color:#04AA6D ;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align:center;
    border-radius: 10px;
    margin-top: 20px;
    border:none;
  }
  .front-btn:hover{
    background-color:#038656 ;
  }
  .back-btn{
    width:330px;
    height:50px;
    background-color: #FFF4A3;
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    border:none;
  }
  .back-btn:hover{
    background-color:#fced7f ;
  }
.space{
  padding-top:50px;
  text-align: center;
  background-color: #282A35;
  opacity: 1;
  padding-bottom: 50px;
}
.W3S-title{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-top: 90px;
  padding-top:10px;
}
.W3S-subtitle{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
.W3S-btn{
  background-color: #04AA6D;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom:14px;
  margin-bottom: 45px;
  border-radius: 25px;
  border: none;
}
.W3S-btn:hover{
  background-color:#038656 ;
}
.ColorPicker{
  text-align: center;
  background-color: #F3ECEA;
  padding-top: 20px;
}
.CP-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.CP-subtitle{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.CP-btn{
  padding-top:15px;
}
.CP-btn:hover{
  opacity:0.6;
}
.trending{
  display:flex;
  justify-content:space-around;
  padding-top: 70px;
  padding-bottom: 50px;
  height:500px;
  margin-top:-10px;
}
.trend-text-container{
  margin-left: 100px;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-top:-30px;
}
.trend-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 80px;
}
.trend-sub-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top:-50px;
}
.trend-btn-container{
  display: flex;
  flex-direction: column;
}
.btn1,.btn2,.btn3,.extra-btn{
  width: 200px;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 12px 12px;
  border:none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.btn1:hover,.btn2:hover,.btn3:hover,.extra-btn:hover,.searching-btn:hover{
opacity:0.8;
}
.try_img{
  border-radius: 10px;
  padding-top:40px;

}


.content-container{
  margin-top: -50px;
  background-color: rgb(13,23,33);
  text-align: center;
  padding-bottom:80px ;
  padding-top:80px;
}
.ltc-title{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 65px;
  color:white
}
.ltc-subtitle{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color:#FFC0C7;
  margin-top:-10px;
}
.ltc-url{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color:white;
  padding-top:50px;
  text-decoration: underline;
  
}
 .ltc-url:hover{
  color:#04AA6D;
 }
  .searching-btn {
      border-radius: 25px;
      width: 100px;
      padding-top:1px;
      padding-left:2px;
      background: #04AA6D;
      color: white;
      font-size: 20px;
      border: 1px solid #282A35;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 50px;
      border:none;
  
}

.searching input[type = text]{
  width: 400px;
  padding-top:10px;
  padding-bottom:8px;
  padding-left:20px;
  border-bottom-left-radius: 25px ;
  border-top-left-radius: 25px ;
  border: none;
  height:32px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
}
.wave-img{
  width:1583px;
}
.header-container{
  background-color: #1d2a35;
  height:125px;
  box-shadow:  0 2px 5px 0 ;
  display: flex;
}

.logo{
  height: 42px;
  width: 45px;  
  padding: 16px 20px 18px 24px;
  font-weight: bold;
}

.logo:hover{
  opacity: 0.8;
}
.header-menu{
  margin-top:-0px;
  text-align: center;
}
.head-btn1, .head-btn2, .head-btn3{
  color: #ddd;
  border: none;
  background-color:#1d2a35 ;
  margin-top:0px;
  width: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top:30px;
  padding-bottom:25px;
}
.head-btn4{
  color: #ddd;
  border: none;
  background-color:#1d2a35 ;
  margin-top:0px;
  width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top:30px;
  padding-bottom:25px;
}
.head-btn1:hover, .head-btn2:hover, .head-btn3:hover, .head-btn4:hover{
      background-color: #04AA6D;
}
.right-container{
  display: flex;
  text-align: end;
  margin-left:390px;
  margin-top:25px;
}
.header-icon-container{
  margin-right:0px;
  display:flex;
  justify-content: space-between;
}
.earth-icon, .theme-icon, .search-icon{
  color: #ddd;
  margin-left:25px;
  font-size: 18px;
}
.earth-icon:hover, .theme-icon:hover, .search-icon:hover{
  color: #04AA6D;
}
.header-button-container{
  margin-left: 10px;

}

.head-right-btn1, .head-right-btn2, .head-right-btn3, .head-right-btn4{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  line-height: 1.5;
  padding: 0px 20px 0px 17px;
  margin-top:-20px;
  height:45px;
  border:none;
}
.head-right-btn1,.head-right-btn3{
  background-color:inherit;
  color:#ddd;
}
.head-right-btn2{
  background-color: #FFC0C7;
  color:black;
}
.head-right-btn4{
  background-color:#04AA6D ;
  color:white;
  width: 120px;
}
.head-right-btn1:hover,.head-right-btn2:hover,.head-right-btn3:hover, .head-right-btn4:hover{
  background-color:#04AA6D ;
  color:white;
}

.new{
  font-size: 11px;
  font-weight: bold;
  padding: 3px 10px;
  margin-left: 3px;
  text-align: center;
  color: black;
  border-radius: 25px;
  position: relative;
  top: -2px;
  background-color: white;
}