.general{
    width: 2120px;
    height: 1000px;
    background-color: paleturquoise;
    padding-top:10px;
}
.head_foot{
    width: 2000px;
    height: 50px;
    background-color: rgb(0,250,200);
    margin-left: 3%;
   color: white;
   text-align: center;
   font-size:xx-large;
   font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.aside{
    height: 350px;
    width: 450px;
    background-color: rgb(62,135,73);
    text-align: center;
    padding-top: 15%;
    color:white;
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    margin-right: 410px;
}
.article{
    height: 350px;
    width: 1000px;
    background-color: rgb(240,177,70);
    color: white;
    padding-top: 15%;
    padding-right: 10px;
    margin-top:20px ;
    /* margin-right:400px; */
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.imageBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}
.image{
    width: 290px;
    height: 170px;
    padding-top: 12%;
    background-color: rgb(247, 235, 67);
    text-align: center;
}